

@media (min-width:340px){.body{max-width:330px}}



.body {
   background-image: url("background.jpg");
   color : #cdcdcd;
   max-width: 340px;
   padding-right: 30px;
   padding-left:10px;
   padding-top: 10px;
   padding-bottom: 10px;
}

.div {
    margin: 3px;
}

.slidecontainer {
    width: 90%;
}

.card {
    background: none;
}