<!-- This is my raspberry Pi 3 powered music player. So far it can play webradio, ... :-D -->

<!DOCTYPE html>
<html class="all" lang="en">

 
<head>
    <title>Raspberry Pi powered Music Player</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='musicplayer.css') }}">
    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <!-- <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> -->
    <script >
        $(document).ready(function(){

            $('#btnPlay').click(function(){

                $.ajax({
                  type: 'POST',
                  url: '/play',
                  success: function(result){
                    alert(data);
                  }
                });
            });
            $('#btnPrev').click(function(){

                $.ajax({
                  type: 'POST',
                  url: '/prev',
                  success: function(result){
                    alert(data);
                  }
                });
            });
            $('#btnNext').click(function(){

                $.ajax({
                  type: 'POST',
                  url: '/next',
                  success: function(result){
                    alert(data);
                  }
                });
            });
            $( '#btnSetting' ).click(function(){

                $.ajax({
                  type: 'POST',
                  url: '/setting',
                  success: function(result){
                    alert(data);
                  }
                });
            });


            $( "input[id='sliderVolume']" ).change(function() {
                var volume = sliderVolume.value;

                $.ajax({
                  type: 'POST',
                  url: '/volume/'+volume,
                  success: function(result){
                    alert(data);
                    }
                });

            });


        });


    </script>


</head>

 
<body class="body">

        <div class="container">
            <span>my music player raspi & Justboom</span>
                <div class="row justify-content-between">
                    <div class="col-xs-2">
                        <button type="button" id="btnPlay" class="btn btn-light btn-lg fas fa-play"></button>
                    </div>
                    <div class="col-xs-8">
                        <div class="card-header">{{currentSong}}</div>
                    </div>
                    <div class="col-xs-2">
                        <button type="button" id="btnSetting" class="btn btn-light btn-lg fas fa-cogs"></button>
                    </div>
                </div>

                <div class="row justify-content-between">
                    <div class="col-xs-2">
                        <button type="button" id="btnPrev" class="btn btn-light btn-lg fas fa-step-backward"></button>
                    </div>
                    <div class="col-xs-8">
                        <div>{{currentStation}}</div>
                    </div>
                    <div class="col-xs-2">
                        <button type="button" id="btnNext" class="btn btn-light btn-lg fas fa-step-forward"></button>
                    </div>
                </div>

                <div class="row justify-content-between">
                    <div class="col-xs-2">
                        <i class="fas fa-volume-down"></i>
                    </div>
                    <div class="col-xs-8 range range-primary">
                        <input id="sliderVolume" class="sliderVolume" type="range" name="sliderVolume"  min="0" max="50" step="1" value="12" onchange="sliderValue.value=value">
                        <output id="sliderValue">12</output>
                    </div>
                    <div class="col-xs-2">
                        <i class="fas fa-volume-up"></i>
                    </div>
                </div>


                  <!-- <input id="target" class="target" type="text" value="Field 1"> -->

        </div>


        <footer class="footer-xs">
            <br/>
            <p>2018 - Betaversion <i class="far fa-smile"></i></p>
        </footer>

</body>
 
</html>
